<h1 class="font-bold text-2xl text-green-500">Add new product</h1>
<div>
    <%= form_with model: @product, url: "/add-product" do |form| %>
        <div class="errors bg-yellow-200 relative overflow-hidden">
            <% if form.object.errors.any?  %>
                <ul class="list-disc pl-5 list-error">
                    <% form.object.errors.full_messages.each do |error| %>
                        <li class="text-text-red-500"><%= error %></li>
                    <% end %>
                </ul>
            <% end %>
            <div class="absolute right-0 top-0 cursor-pointer close-btn">
                closed
            </div>
        </div>
        <div>
            <%= form.label :name, "Product's name", class: "font-bold" %> <br>
            <%= form.text_field :name, class: "rounded-lg w-1/2" %>
        </div>

        <div>
            <%= form.label :quality, "Product's quality", class: "font-bold"  %> <br>
            <%= form.number_field :quality, class: "rounded-lg w-1/2"%>
        </div>

        <div>
            <%= form.label :description, "Product's description", class: "font-bold"  %> <br>
            <%= form.text_area :description, class: "rounded-lg w-1/2" %>
        </div>

        <%= form.button "Create", class: "p-3 bg-green-500 hover:bg-green-800 hover:text-white rounded" %>
    <% end %>
</div>
<script>
    var close_btn = document.querySelector(".close-btn");
    close_btn.addEventListener("click", function(){
        console.log("click")
        var list = document.querySelector(".list-error");
        list.remove();
    });
</script>