<% if @products.any? == false %>
    <p class="font-bold text-red-500">No data</p>
<% else %>
    <table class="table-auto border-collapse border border-slate-400">
        <thead class="bg-gray-500">
            <tr>
                <td class="text-bold p-3 border border-slate-300">STT</td>
                <td class="text-bold p-3 border border-slate-300">Name</td>
                <td class="text-bold p-3 border border-slate-300">Quality</td>
                <td class="text-bold p-3 border border-slate-300">Description</td>
                <td class="text-bold p-3 border border-slate-300"></td>
            </tr>
        </thead>
        <tbody>
            <% @products.each_with_index do |prod, index| %>
                <tr>
                    <td class="text-center font-bold border border-slate-300 p-3"><%= index + 1 %></td>
                    <td class="border border-slate-300 p-3"><%= prod.name %></td>
                    <td class="text-center border border-slate-300 p-3"><%= prod.quality%></td>
                    <td class="border border-slate-300 p-3"><%= prod.description%></td>
                    <td class="p-3 flex gap-3 flex-nowrap">
                        <%= link_to "Edit", edit_product_path(prod), :class => "text-blue-500 italic underline-offset-1 underline" %> |
                        <%= button_to "Delete", delete_product_path(prod), method: "delete", class: "text-red-500 italic underline-offset-1 underline" %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
<% end %>

<div class="p-3 text-black-500 bg-green-500 hover:bg-green-800 w-max hover:text-white">
    <%= link_to "Add new product", add_product_path %>
</div>